<!DOCTYPE html>
<head>
    <title>Distance Collector</title>
    <style>
        h {
            font-family: arial, sans-serif;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-family: arial, sans-serif;
        }

        p1 {
            font-family: arial, sans-serif;
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <h>Insert Destination</h>
    <br><br>
    <form method="POST">
        <p>In field "Address", insert only the street name and number</p>
        {% csrf_token %}
    {{ form_destination }}
        <input type="submit" name="destination submit">
    </form>
    <br>
    {% if destination %}
            {% for dest in destination %}
            <p1>The destination is: {{ dest.address }}, {{ dest.city }}, {{ dest.zip_code }}, {{ dest.country }}</p1><br>
            {% endfor %}
        {% endif %}
    <br>
    <h>Insert Passengers</h>
    <br>
    <p>
        {% csrf_token %}
    {% for passenger in passengers %}
        <p1>{{ passenger.last_name }} {{ passenger.first_name}} from {{ passenger.starting_point }}</p1><br>
    {% endfor %}
    </p>
    <form method="POST">
        <p>In field "Address", insert only the street name and number</p>
        <p>The "Country Code" should be the ISO 3166-1alpha2 code, e.g. it for Italy<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank"> click here </a> for more details</p>
        {% csrf_token %}
            <p>{{ form_p }}</p>
        <input name="passengers submit" value="Submit" type="submit" >
    </form>
    <br>
    <h>Insert Drivers</h>
    <br>
    <p>
        {% csrf_token %}
    {% for driver in drivers %}
        <p1>{{ driver.last_name }} {{ driver.first_name}} from {{ driver.starting_point }}</p1><br>
    {% endfor %}
    </p>
    <form method="POST">
        <p>In field "Address", insert only the street name and number</p>
        <p>The "Country Code" should be the ISO 3166-1alpha2 code, e.g. it for Italy<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank"> click here </a> for more details</p>
        {% csrf_token %}
            <p>{{ form_d }}</p>
        <input name="drivers submit" value="Submit" type="submit" >
    </form>
    <br><br>
    <form action="http://127.0.0.1:8000/showresult">
    <input type="submit" value="Calculate" />
    </form>
</body>
</html>