<!DOCTYPE html>
<head>
    <title>Distance Collector</title>
</head>
<body>
    <p>Insert Destination</p>
    <form method="POST">
        {% csrf_token %}
    {{ form_destination }}
        <input type="submit" name="destination submit">
    </form>
    <p>Insert Passengers</p>
    <form method="POST">
        {% csrf_token %}
    {{ form_p }}
        <input type="submit" name="passengers submit">
    </form>
    <p>Insert Drivers</p>
    <form method="POST">
        {% csrf_token %}
    {{ form_d }}
        <input type="submit" name="drivers submit">
    </form>
    <form action="http://127.0.0.1:8000/showresult">
    <input type="submit" value="Calculate" />
    </form>
</body>
</html>